/* Add a black background color to the top navigation */
.navigation-bar {
  background-color: #b02185;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
}

/* Style the links inside the navigation bar */
.navigation-bar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navigation-bar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navigation-bar a.active {
  background-color: #b02185;
  color: white;
}

h1 {
  font-family: "Comfortaa", Courier, monospace;
  color: #07adb0;
}

p,
ul {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ---------From calculator css file--------------------------*/

/* *The backdrop */

body {
  /*
  background-color: #e2e0e5;
  */
}

.buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: auto;
  margin-block-end: auto;
  padding-block: 5px;
}

.number-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: auto;
  margin-block-end: auto;
  padding-block: 5px;
}

.operations-wrapper {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.calculator-space {
  background: #36008d;
  /*opacity: 0.7; */
  width: 50vw;
  height: 50vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 15px 16px;
}

.operations-area {
  background-color: white;
}
.result-display {
  background: #ffffff;
  font-family: "Courier New";
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 8vw;
  border-radius: 4px;
  padding: 15px 16px;
}

/* *Buttons */

.number-button {
  background-color: #00c9b8;
  font-family: Courier New;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.operation-button {
  background-color: #ffb3c1;
  font-family: Courier New;
  font-weight: 900;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

/* * Font */
